:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --second-background-color: #2F303A;
  --first-boby-color: #F5F5F5;
  --second-body-color: #F5F4FA;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --column-gap: 30px;
  --margin-none: 0px;
  --icons-color: #AFB1B8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}

p {
  margin: var(--margin-none);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--margin-none);
}

ul,
ol {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: var(--white-color);
  font-weight: 500;
  border-bottom: solid 1px #ECECEC;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__container {
    column-gap: 88px;
    flex-basis: calc((100% - 88px) / 2);
  }
}

.header-menu__container {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-menu__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu__button--open {
    display: inline-flex;
    margin: var(--margin-none);
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__button--open {
    display: none;
  }
}

.logo__link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: var(--black-color);
}
@media screen and (max-width: 1200px) {
  .logo__link {
    font-size: 24px;
    line-height: 1.16;
    padding: 16px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo__link {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo {
  color: var(--accent-color);
}

.logo__link--inverse {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  padding: 0px;
}
@media screen and (max-width: 1200px) {
  .logo__link--inverse {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .logo__link--inverse {
    font-size: 26px;
    line-height: 1.19;
  }
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin-none);
}

.navigation__item {
  margin-right: 50px;
  position: relative;
  text-align: center;
}
.navigation__item:last-child {
  margin-right: var(--margin-none);
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.navigation__link--active::after {
  content: "";
  color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: var(--margin-none);
}

.header__contacts {
  list-style: none;
  padding-left: 0px;
  padding: 0px;
  margin: var(--margin-none);
  color: var(--primary-text-color);
  fill: currentColor;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
    margin-left: auto;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
@media screen and (min-width: 768px) {
  .contacts__item + .contacts__item {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link :focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .contact__icon {
    display: none;
  }
}
.contact__icon:hover,
.contact__icon :focus {
  fill: var(--accent-color);
}

.mobile-menu {
  opacity: 0;
  pointer-events: none;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  letter-spacing: 0.02em;
  visibility: hidden;
  transform: scale(1);
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-left: 40px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .mobile-menu__button--close {
    display: inline-flex;
    margin: var(--margin-none);
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 15px;
    fill: currentcolor;
    line-height: 0;
  }
  .mobile-menu__button--close:hover, .mobile-menu__button--close:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu--position {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-menu__mobile-navigation {
  margin: var(--margin-none);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  width: 100%;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-navigation__list-navigation {
  margin: var(--margin-none);
}

.list-navigation__item + .list-navigation__item {
  margin-top: 32px;
}

.list-navigation__link--active {
  color: var(--accent-color);
}

.mobile-menu__contact-list-mobile {
  margin: var(--margin-none);
  width: 100%;
}

.contact-list-mobile__item + .contact-list-mobile__item {
  margin-top: 32px;
}

.contact-list-mobile__tel {
  display: block;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-align: start;
  width: 100%;
}

.contact-list-mobile__mail {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.mobile-menu__social-media-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-media__item {
  display: flex;
}
.social-media__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  margin: var(--margin-none);
  background-color: rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}

.hero {
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-section/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .hero {
    padding: 118px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-section/hero-tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-section/hero-desk.jpg);
    padding: 200px 0;
    margin: 0 auto;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-section/hero-desk@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-section/hero-tab@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-section/hero-mob@2x.jpg);
  }
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.34;
    width: 696px;
  }
}

.hero__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  margin-top: var(--column-gap);
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .hero__button {
    padding: 10px 24px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: var(--margin-none);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    margin: var(--margin-none);
  }
}

@media screen and (max-width: 768px) {
  .benefits__item + .benefits__item {
    margin-top: var(--column-gap);
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .benefits__item:last-child {
    margin-right: var(--margin-none);
  }
}

.benefits__icon {
  display: flex;
  justify-content: center;
  background-color: var(--second-body-color);
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
}

.benefits__titles {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: var(--margin-none);
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .benefits__titles {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  margin: var(--margin-none);
}

.about-section {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .about-section {
    display: none;
  }
}

.about-section__gallery {
  display: flex;
  margin: var(--margin-none);
  column-gap: var(--column-gap);
}

.about-section__container {
  position: relative;
}

.about-section__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  -align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--second-body-color);
}

.team__list {
  display: flex;
  margin: var(--margin-none);
}
@media screen and (max-width: 768px) {
  .team__list {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__list {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team__item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:last-child {
  margin-right: var(--margin-none);
}
@media screen and (max-width: 768px) {
  .team__item {
    max-width: 450px;
    margin: var(--margin-none);
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__titles {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: var(--margin-none);
  margin-bottom: 10px;
  text-align: center;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  margin: var(--margin-none);
  text-align: center;
}

.team__contact {
  margin: var(--margin-none);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.team__link {
  text-decoration: none;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  fill: currentColor;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  color: var(--icons-color);
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.butttons-list {
  list-style: none;
  display: flex;
  column-gap: 8px;
  padding-left: 0px;
  justify-content: flex-start;
  margin-bottom: var(--margin-none);
  margin-top: var(--margin-none);
}
@media screen and (max-width: 768px) {
  .butttons-list {
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .butttons-list {
    justify-content: center;
  }
}

.butttons-list__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--second-body-color);
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  min-width: 74px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butttons-list__button:hover, .butttons-list__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.butttons-list__button--active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products {
  margin-top: 50px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .products {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .products {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--column-gap));
    margin-bottom: calc(-1 * var(--column-gap));
  }
}

@media screen and (max-width: 768px) {
  .products__item {
    max-width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: calc(33.3333333333% - var(--column-gap));
    margin-right: var(--column-gap);
    margin-bottom: var(--column-gap);
  }
  .products__item:nth-child(3n) {
    margin-right: var(--margin-none);
  }
}

.products__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: var(--margin-none);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .products__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 326px;
  }
}
.products__link:hover, .products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__tumb {
  position: relative;
  overflow: hidden;
}

.tumb__owerlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 294px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover .tumb__owerlay, .products__link:focus .tumb__owerlay {
  transform: translateY(0);
}

.products__description {
  padding: 20px 24px;
  flex-grow: 1;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  color: var(--primary-text-color);
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: var(--margin-none);
  margin-bottom: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #FFFFFF;
  color: var(--black-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (max-width: 768px) {
  .modal {
    max-width: 450px;
    top: 93px;
    left: 15px;
    right: 15px;
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 450px;
    max-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25);
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: var(--margin-none);
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--black-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  color: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal__input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus-within {
  fill: var(--accent-color);
}

.modal__input--margin {
  margin-bottom: 0;
}

.input__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__input--position {
  position: relative;
}

.input__form {
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 42px;
  fill: currentColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__form:hover, .input__form:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input__form--settings-textarea {
  margin-top: 4px;
  padding-left: 16px;
  resize: none;
  width: 100%;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal__agreement {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agreement__title {
  display: block;
  margin-left: 8px;
  padding-left: 15px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1200px) {
  .agreement__title {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .agreement__title {
    font-size: 14px;
  }
}

.agreement__title--margin {
  margin-bottom: 30px;
}

.checkbox__icon {
  display: inline-block;
  position: absolute;
  top: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.checkbox:focus + .checkbox__icon {
  border-color: var(--accent-color);
}

.agreement__link {
  text-decoration: underline;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (max-width: 1200px) {
  .agreement__link {
    font: size 12px;
  }
}
@media screen and (min-width: 1200px) {
  .agreement__link {
    font: size 14px;
  }
}
.agreement__link:hover {
  text-decoration: none;
}

.modal__button--send {
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background: #188CE8;
}

.footer {
  background-color: var(--second-background-color);
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--container {
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer--container {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer--container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer--container {
    column-gap: 70px;
    align-items: baseline;
  }
}

.footer__content {
  display: flex;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .footer__content {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__content {
    column-gap: 165px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    column-gap: 70px;
    margin: 0;
    align-items: baseline;
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  padding: 0px;
}

.join__container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .join__container {
    justify-content: center;
    align-items: center;
  }
}

.join {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.join__contact-list {
  margin: var(--margin-none);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.join__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .footer-form--container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form__input--container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-form__input--container {
    flex-direction: row;
  }
}

.footer-form__input {
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: var(--second-background-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .footer-form__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}
@media screen and (max-width: 1200px) {
  .footer-form__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}/*# sourceMappingURL=main.css.map */